.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}

.sectionDiv, .sectionDivLoading {
    height: 300px;
    margin-bottom: 40px;
    width: 300px;
}

.sectionDivLoading {
    background-color: #080d4a63;
    display: flex;
    justify-content: center;
}

.card, .sectionDivLoading {
    align-items: center;
    border-radius: 3%;
    box-shadow: 1px 1px 7px 4px #042034;
    display: flex;
    flex-direction: column;
    height: inherit;
    margin: auto;
    margin-bottom: 20px;
    width: inherit;
    position: relative;
    object-fit: cover;
}

.characterData {
    height: 260px;
    position: absolute;
    width: 260px;
    border-radius: 3%;
    z-index: 1;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #00000036;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
}

.cardC {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    height: 90%;
    position: absolute;
    z-index: 2;
    width: -webkit-fill-available;
}

.cardBack {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    height: 300px;
    transform: rotateY(180deg);
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    z-index: 1;
}

.cardBackItem {
    align-items: center;
    background: blue;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 300px;
}

.cardBack,
.cardC {
    border-radius: 3%;
}

.seeMore {
    display: table;
    font-size: 1rem;
    font-weight: 600;
    margin: 6px;
}

.seeContainer {
    width: 7rem;
    background: white;
    border-radius: 25px;
    color: black;
    text-align: center;
    height: 35px;
    /* align-items: center; */
}

.seeMore:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logob {
    align-items: center;
    background: #533434;
    border-radius: 10px;
    display: flex;
    height: 130px;
    justify-content: center;
    width: 90%;
}

.figure {
    display: flex;
    height: auto;
    margin: 0;
    width: auto;
}

.details {
    align-items: center;
    background: #3e3e48;
    color: white;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    height: -webkit-fill-available;
    justify-content: center;
    width: -webkit-fill-available;
}

.detailsContainer {
    width: 100%;
    display: flex;
    height: 100px;
}

.buttonFavorite {
    right: 1px;
    background: none;
    border: none;

    background: #327996;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.figureAdd {
    display: flex;
    margin: 0;
    border-radius: 100%;
    border: solid #0b00ff 2.5px;
}

.figureAdd:hover {
    background-color: #e4e4e473;
}

@media only screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        row-gap: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .section {
        grid-template-columns: repeat(3, auto);
    }
}
