.nav {
    align-items: center;
    border-bottom: 1px solid #042034;
    box-shadow: -1px 4px 5px 0px #042034;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    height: 110px;
    margin-bottom: 50px;
    padding: 0 3%;
    width: auto;
}

.input {
    margin-left: 1px;
    height: 30px;
    width: 135px;
}

.figureNav {
    display: flex;
    height: auto;
    margin: 0;
    justify-content: flex-end;
    width: auto;
}

.figureNav > span {
    flex: 1;
}

.figureMenu {
    display: flex;
    margin: 0;
}

.divMenu {
    background: #000000a8;
    height: -webkit-fill-available;
    overflow: hidden;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 0;
    z-index: 2;
}

.inputCheck {
    position: fixed;
    height: 3rem;
    margin: 0;
    opacity: 0;
    width: 2rem;
    z-index: 3;
}

.inputCheck:checked ~ .divMenu {
    max-width: 80vh;
}

.imagen {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.containerFav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    height: 4rem;
    background: wheat;
    border-radius: 10px;
    margin: 1.5rem 0.5rem;
}

.figure {
    width: 3rem;
}

.figure:nth-child(1) {
    padding: 0 3%;
}



@media only screen and (min-width: 425px){
    .figure:nth-child(1) {
        padding: 0 7%;
    }    
}

@media only screen and (min-width: 770px){
    .figure:nth-child(1) {
        padding: 0 9%;
    }    
}

@media only screen and (min-width: 1024px){
    .figure:nth-child(1) {
        padding: 0 12%;
    }    
}


