.nav {
    align-items: center;
    border-bottom: 1px solid #042034;
    box-shadow: -1px 4px 5px 0px #042034;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    height: 110px;
    margin-bottom: 50px;
    padding: 0 3%;
    width: auto;
}

.input {
    margin-left: 1px;
    height: 30px;
    width: 135px;
}

.figureNav {
    display: flex;
    height: auto;
    margin: 0;
    justify-content: flex-end;
    width: auto;
}

.figureNav > span {
    flex: 1;
}

.figureMenu {
    display: flex;
    margin: 0;
}

.divMenu {
    background: blue;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    z-index: 2;
}

.inputCheck {
    position: absolute;
    height: 3rem;
    margin: 0;
    width: 2rem;
    z-index: 1;
}

.inputCheck:checked ~ .divMenu {
    max-height: 100vh;
}

.imagen {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.containerFav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    height: 4rem;
    background: wheat;
    border-radius: 10px;
    margin: 1.5rem 0.5rem;
}

.figure {
    height: 1.5rem;
    margin: 10px;
    width: 3rem;
}