.nav {
    align-items: center;
    border-bottom: 1px solid #042034;
    box-shadow: -1px 4px 5px 0px #042034;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    height: 110px;
    margin-bottom: 50px;
    padding: 0 3%;
    width: auto;
}

.input {
    margin-left: 1px;
    height: 30px;
    width: 135px;
}

.figureNav {
    display: flex;
    height: auto;
    margin: 0;
    justify-content: flex-end;
    width: auto;
}

.figureNav > span {
    flex: 1;
}
