@import '@styles/basics.scss';

.notCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    margin-bottom: -53px;
    padding: 0 3%;
    @include tablet-size {
        flex-direction: unset;
        justify-content: space-evenly;
        margin-bottom: -51px;
    }
}

.four {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}

.lost {
    font-size: 1rem;
    text-align: center;
}

.imgNaruto {
    z-index: -1;
}
