.divCont {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 0 3%;
}

.figureCharac {
    height: 300px;
    margin: 0;
    width: 300px;
}

.figureCharac > span {
    height: 300px !important;
    width: 300px !important;
}

.detailsCharact {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.detailsCharact span {
    margin: 7px 0;
}


@media only screen and (min-width: 768px) {
    .divCont {
        align-items: center;
        flex-direction: unset;
        height: 48vh;
    }
    .figureCharac {
        margin: 0 30px 0 0;
    }
}
